.box-container{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #f0f2f2;
    background-color: #f8fafb;
}

.box{
    margin: 5px; 
    background-color: #ffffff;
    height: 100%; 
    width: 30%;
    border: 1px solid #f0f2f2;
    border-radius: 5px;
    justify-content: 30px;
}

.box-title{
    padding: 20px 18px 0 18px;
    color: #acbbc6;
    height: 30px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

.menu-item{
    display: flex;
    padding: 15px 5px;
    height: 40px;
    align-items: center;
}

.left{
    display: flex;
}

.text{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 15px;
    width: 300px;
    font-family: 'Rubik', sans-serif;
}

.text-one{
    font-size: 13px; 
    color: #afbdc8;
    font-weight: 600;
    padding: 0 0 5px 0 ;
}

.text-two{
    font-weight: 600;
}

.text-fisrt{
    font-weight: 600;
}

.text-second{
    font-size: 13px; 
    color: #90909d;
    padding: 5px 0 0 0;
}

.text-1{
    font-weight: 700; 
}

.text-2{
    font-size: 13px; 
    color: red;  
    padding: 5px 0 0 0;
}

.image img{
    background: #fffefe;
    border-radius:70%;
    -moz-border-radius:70%;
    -webkit-border-radius:70%;
    border: 1px solid rgb(238, 238, 238);
}

.image{
    padding: 0 0 0 15px;
}
.between{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.badge{
    padding: 2px;
    border: 0px;
    margin: 2px;
    border-radius: 5px; /*bo tròn 4 góc*/
    text-align: center;
    float: right;
    font-weight: 700;
    color: white;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
}

.time{
    font-size: 13px;
    width: 100px;
    color: rgb(185, 185, 184);
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
}

.right{
    display: flex;
    width: 200px;
    align-items: center;
}

.right-icon{
    width: 20px;
    text-align: right;
    color: #b3c0ca;
    opacity: 0.4; 
}
.right-icon-two{
    text-align: right;
    width: 70px;
    color: #b3c0ca;
    opacity: 0.4;
}

.btn-call-to-action {
    padding: 15px;
    border: 0px;
    border-radius: 5px; /*bo tròn 4 góc*/
    margin: 20px;
    text-align: center;
    background-color: #f3f5f7;
    width: 92%;
    font-weight: 700;
    font-size: 14px;
    color: #9fb0be;
    font-family: 'Rubik', sans-serif;
}